{% extends "main/base.html" %}

{% block content %}
    <p>Add a new project:</p>

    <form action="{% url 'projects:new_project' %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
          <label for="config_selector">Choose a configuration:</label>
              <select name="config_id" id="config_selector">
                  {% for config in configurations %}
                      <option value="{{config.id}}">{{ config }}</option>
                  {% endfor %}
              </select>
        <a href="{% url 'configurations:new_configuration' %}">Add a new configuration</a>
            <br><br>
        <button name="submit">Add project</button> <a href="{% url 'projects:projects' %}">Cancel</a>
    </form>

{% endblock content %}